[Unit]
Description=IPMI Exporter for Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/path/to/ipmi_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
