[Unit]
Description=IPMI power consumption exporter for Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/ipmi_power_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
